.backyard {
  background-color: #000000aa;
  position: fixed;
  inset: 0;
}
.dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow-y: auto;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.p {
  overflow-y: auto;
  max-height: 400px;
  white-space: pre-wrap;
  font-size: 11px;
}
